网页版和APK中，在日报里自动加入当日的统计信息
允许将部分任务或阶段设置成 Bonus，图标可以设置成一个礼品。注意在计算完成率的时候，Bonus 应该是额外计算的选项：分母里不计入 Bonus 的任务和阶段，但分子里要记上，所以完成率允许超过 100%。
时间视图下，仍需支持拖拽，并记忆拖拽后各任务的位置。若新增任务（如同时段任务在象限视图下被加入），默认放置在该时段时间视图任务列表的最后。
时间视图下，要给下面的各个任务和阶段加上浅浅的底色，来分辨是一、二、三、四象限的任务。
网页版给每个象限、时间视图下的每一块，以及计划池和模板池，设置一个最大高度。超过最大高度后，支持右侧滚动条拖动。手机端 APK 也类似。
在打包 APK 的时候，给每个任务单独选一个可以拖动的位置。我建议把拖动位置和勾选是否已完成的位置合并，只有点那里才能拖动。
